.text {
    display: inline;
    width: 100%;
}

.read-or-hide {
    color: darkgray;
    cursor: pointer;
    width: fit-content;
    padding: 0px 4px;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.desc_height {
    height: 40px;
}
