@diaas:registry=https://artifactory.csc.com/artifactory/api/npm/diaas-npm-local/
//https://artifactory.csc.com/artifactory/api/npm/diaas-npm-local/:_password=QVAyNHFiV3BkTXJ5UWJRTmpSUU0zTnBoOVZw
//https://artifactory.csc.com/artifactory/api/npm/diaas-npm-local/:username=diaas-ro
//https://artifactory.csc.com/artifactory/api/npm/diaas-npm-local/:email=jrees@dxc.com
//https://artifactory.csc.com/artifactory/api/npm/diaas-npm-local/:always-auth=true

_auth = ZGlhYXMtcm86QVAyNHFiV3BkTXJ5UWJRTmpSUU0zTnBoOVZw
email = jrees@dxc.com
always-auth = true 