div.entity-sidebar__container {
    overflow: hidden;
    display: flex;
}

div.entity-sidebar__container.entity-sidebar--open {
    width: auto;
    transition: width 0.2s ease-in;
}

div.entity-sidebar__container.entity-sidebar--close {
    width: 0px;
    transition: width 0.2s ease-in;
}