.deadline-container {
    svg {
        width: 20px;  
    }
    .normal {
      width: fit-content;
      color: gray;
      svg { fill: gray }
    }
    .gentle {
      width: fit-content;
      color: goldenrod;
      svg { fill: goldenrod; }
    }
    .high {
      width: fit-content;
      color: red;
      svg { fill: red;}
    }
    }
