  .main-container, .grid-container {
      display: flex;
      flex-wrap: wrap;
  }

  .grid-container > div {
    background-color: white ;
    padding: 0;
    border: 5px solid rgba(0, 50, 150, 0.1) !important;
    border-radius: 10px;
  }

  .home-container {
    background-color: rgba(0, 50, 150, 0.1) !important;
  }

  .welcome-banner > div {
    background-color: #6F2C91;
    color: white;
    width: 96%;
  }