.float {
    float: right;
}

.notesBoxDisplay{
    .gaXfjz {
        display: block;
        margin: 3px;
    }
    span {
        padding-right: 7px;
    }
}

.notesDate{
    color: grey;
}

.notesContent{
    max-height: 500px;
    overflow-y: scroll;
    width: 100%;
}