.q-mainTabContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: calc(100vh - 235px);

    padding: 20px 0;
}

.q-secondaryTabContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: calc(100vh - 285px);

    padding: 20px 0;
}