.list-group {
    li:hover:not(.active) {
      color: #6f2c91 !important;
    }
  
    .active {
      background-color: #f2ebfe !important;
      border-left: 3px solid #6F2C91 !important;
      color: #6f2c91 !important;
    }
}