.timeline-container {
    width: 100%;
    padding: 2px;
    background: #F5F7FA;

    

    .timeline-item-container {
        padding: 0px 5px;

        .title-date {
            color: rgb(116, 116, 116);
            margin: 0;
            margin-bottom: 5px;
            margin-left: 3px;
        }
    }
}