.MiddleBarHeader {
  .jOBkLA {
    margin: 1px !important;
   
    .hqNYT, .EMrWr,
    .kDTxiH, .eCdfqH,
    .ezntDb, .kDTxiH,
    .eCdfqH, .EMrWr, .hSCvZz {
      padding: 12px 15px;

      span {
        font: normal normal normal 12px/13px Open Sans;
      }
    }
  }
}
